/solutions
/out/windows/gmsv_mysqloo_win32.iobj
/out/windows/gmsv_mysqloo_win32.ipdb
/out/windows/gmsv_mysqloo_win32.pdb
/premake4
/premake4.exe
/premake5
/premake5.exe
/out
.vscode
*.zip
cmake-build-debug/
cmake-build-release/
cmake-build-x64-release/
cmake-build-x86-release/
.idea
.vs
.cache